@using WebAppAspNetMvcDatabaseQuery.Models
@model Book

<h3>Книга</h3>

@using (Html.BeginForm("Create", "Books", FormMethod.Post))
{
    @Html.EditorForModel()

    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить", "Index", "Books")
}
